* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: lightsteelblue;
    text-align: center;
    padding: 16px;
    width: 100%;
}

button.Add-book {
    margin: 32px;
    width: 15vw;
    height: 48px;
    border: none;
    border-radius: 16px;
    background-color: lightgrey;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    gap: 24px;
    width: 80vw;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    border: black solid 1px;
    border-radius: 4px;
    height: 150px;
    padding: 8px;
    width: 75px;
}

.book-info p {
    margin-top: 12px;
    font-family: Courier New, monospace;
    font-size: 14px;
    text-align: center;
}

button.has-read {
    margin-top: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(4, 175, 4);
    width: 75px;
    font-size: 18px;
}

button.has-not-read {
    margin-top: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: red;
    width: 75px;
    font-size: 18px;
}

.add-book-form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    padding: 16px;
    border-radius: 16px;
    border: black solid 2px;
    width: 20vw;
}

.add-book-form div {
    display: grid;
    margin: 16px;
}

.add-book-form div input {
    border: black solid 1px;
    border-radius: 2px;
}

.add-book-form fieldset {
    display: grid;
}

.add-book-form fieldset div {
    display: grid;
    grid-template-columns: 48px 1fr;
    margin: 12px;
}

.add-book-form button {
    width: 50%;
    margin-top: 16px;
    height: 28px;
    border-radius: 16px;
    border: black solid 1px;
}

.add-book-form button:hover {
    background-color: rgb(210, 210, 210);
}